/* Tagline styles */
.tagline {
  color: #025597;
}

[data-theme='dark'] .tagline {
  color: #fff;
}
.getStartedButton {
  border-radius: 32px !important;
  padding: 0.85em 2em !important;
  font-size: 1.1em !important;
  background: #025597 !important;
  color: #fff !important;
}
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.demoImage {
  max-width: 800px; /* Adjust as needed */
  width: 100%;
  height: auto;
  margin: 1.25rem auto;
  display: block;
  border-radius: 8px; /* Optional: adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}
